/* Start Variables */
:root {
  --main-color: #12c18d;
  --secondary-color: #ff8900;
  --container-margin: 20px;
  --font-color: #777;
  --bg-color: #b2f3de;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-top: 30px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

/* End Global Rules */

/* start Header media  */
@media only screen and (min-width: 992) and (max-width: 1200px) {
  .container {
    margin: 0px 40px;
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  header .container ul {
    display: none;
  }
  header .container {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  header #menuToggle {
    display: none;
  }
}

header {
  width: 100%;
  z-index: 2;
  display: flex;
  height: 86px;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0;
}

header .logo img {
  height: 85px;
}

header nav ul {
  display: flex;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: calc(4px / 2);
  background: #7b52b9;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Collapse Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px / 2);
  transition-property: bottom, margin, transform;
  transition-delay: calc(0s + 0.35s), 0s, 0s;
}

.bar--middle {
  top: calc(50% - 4px / 2);
  transition-property: top, opacity;
  transition-duration: 0.35s, 0s;
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px / 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px / 2);
  transform: rotate(45deg);
  transition-delay: calc(0s + 0.35s * 0.3), calc(0s + 0.35s * 1.3),
    calc(0s + 0.35s * 1.3);
}

#checkbox:checked + .toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s, 0s;
  transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px / 2);
  transform: rotate(-45deg);
  transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  display: block;
  color: rgb(77, 3, 77);
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  transition: 0.3s;
  margin-left: 9px;
  position: relative;
  z-index: 2;
}

header .container .active {
  color: var(--main-color);
}

header nav ul li .active,
header nav ul li a:hover {
  color: var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
header .login {
  border-radius: 50px;
  border: 1px solid black;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list {
  display: block;
  background-color: var(--main-color);
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  z-index: 1;
}
/* end header */

/* Start Landing Section */
.landing {
  background-image: url(../imgs/landing.png);
  background-size: cover;
  height: calc(100vh + 450px);
}
.landing-button,
.search-submit {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  height: 62px;
  width: 180px;
  opacity: 1;
  margin: 20px;
  box-shadow: var(--main-color) 0px 5px 15px 0px;
  font-size: smaller;
}

.landing-button:hover,
.search-submit:hover {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
/* start intro-landing Section */
@media (max-width: 767px) {
  .landing .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 81px;
    margin: 0;
    position: absolute;
    left: 42%;
    top: 28%;
    transform: translate(-50%, -50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    width: 100%;
  }
  .landing .intro-text h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }
  .landing .intro-text p {
    text-align: center;
  }

  .landing .intro-text p:first-child {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
  }
  .landing .intro-text p:first-child i {
    font-size: 16px;
  }

  .landing .intro-text p:last-of-type {
    font-size: 15px;
    color: var(--font-color);
    padding: 25px 0;
  }
}
@media (min-width: 766px) {
  .landing .intro-text {
    margin: 0;
    position: absolute;
    left: 32%;
    top: 36%;
    text-align: left;
    transform: translate(-50%, -50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
  }
  .landing .intro-text p:first-child {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
  }
  .landing .intro-text p:first-child i {
    font-size: 16px;
  }
  .landing .intro-text h2 {
    margin: 0;
    font-size: 54px;
    font-weight: 650;
  }
  .landing .intro-text p:last-of-type {
    font-size: 15px;
    color: var(--font-color);
    padding: 25px 0;
  }
}
.landing {
  position: relative;
}
.landing .intro-text p:last-child {
  font-size: 15px;
}
/* end intro-landing Section */

/* start search section */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: #ff8900;
}
@media (min-width: 990px) {
  .landing .section-search {
    position: absolute;
    top: 32%;
    right: 50%;
    border-radius: 48px;
    width: 67%;
    margin: 15px;
    height: 450px;
    transform: translate(50%, 50%);
  }
  .section-search .container .nav-link {
    color: black;
    font-weight: 700;
    padding: 0;
    border-radius: 0;
    background: white;
    width: 16%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .tab-search .nav-pills .nav-link:last-child {
    border-radius: 0 35px 0 0;
  }
  .tab-content {
    background-color: var(--bg-color);
    border-radius: 0 0 35px 35px;
    padding: 4%;
  }
  .fields .hotel-search {
    width: 35%;
  }
  .fields .check-in,
  .fields .check-out {
    width: 19%;
  }
  .fields .adult,
  .fields .children {
    width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing .section-search {
    position: absolute;
    top: 32%;
    right: 46%;
    border-radius: 48px;
    width: 89%;
    margin: 15px;
    height: 450px;
    transform: translate(50%, 50%);
  }
  .section-search .container .nav-link {
    color: black;
    font-weight: 700;
    padding: 0;
    border-radius: 0;
    background: white;
    width: 16%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .tab-search .nav-pills .nav-link:last-child {
    border-radius: 0 35px 0 0;
  }
  .tab-content {
    background-color: var(--bg-color);
    border-radius: 0 0 35px 35px;
    padding: 4%;
  }
  .fields {
    display: flex;
    justify-content: center;
  }
  .fields .hotel-search {
    width: 35%;
  }
  .fields .check-in,
  .fields .check-out {
    width: 19%;
  }
  .fields .adult,
  .fields .children {
    width: 80px;
  }
}
@media (min-width: 768px) {
  .tabulation-search {
    margin-top: -60px;
  }
}
@media (max-width: 768px) {
  .landing .section-search {
    position: absolute;
    top: 27%;
    right: 50%;
    border-radius: 48px;
    width: 90%;
    height: 450px;
    transform: translate(50%, 50%);
  }
  .section-search .container .row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .section-search .container .row .tab-search {
    position: absolute;
    height: 100%;
  }
  .section-search .container .tab-search .nav-pills {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 25%;
    left: 0;
    height: 100%;
  }
  .section-search .container .nav-link {
    color: black;
    font-weight: 650;
    padding: 0;
    border-radius: 0;
    background: white;
    width: 100%;
    height: 16.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
  .tab-search .nav-pills .nav-link:last-child {
    border-radius: 0 0 0 35px;
  }
  .section-search .container {
    height: 100%;
  }
  .tab-content {
    background-color: var(--bg-color);
    border-radius: 0 35px 35px 0;
    padding: 4%;
    position: absolute;
    left: 23%;
    width: 87%;
    height: 100%;
  }
  .hotel-search {
    grid-area: hotel-search;
  }
  .check-in {
    grid-area: check-in;
  }
  .check-out {
    grid-area: check-out;
  }
  .adult {
    grid-area: adult;
  }
  .children {
    grid-area: children;
  }

  .fields {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas: "hotel-search hotel-search" "check-in check-out" "adult children";
  }
}

.nav-pills {
  width: 104%;
}
.tab-search {
  padding: 0;
}
.tab-search .nav-pills p {
  margin-bottom: 0;
}

.tab-search .nav-pills .nav-link:first-child {
  border-radius: 35px 0 0 0;
}
.tab-search .nav-pills .nav-link.active {
  background: var(--secondary-color);
}

.tab-pane form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  appearance: auto;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #f1820262;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff880062;
}
.block-17 {
  height: 260px;
}
.fields div {
  margin: 3px;
  display: flex;
  flex-direction: column;
}
/* Hotels */
.fields div input,
.fields div select {
  cursor: pointer;
  height: 100%;
  padding: 9px;
}
.fields div span {
  padding: 0 0 11px 3px;
  font-size: 14px;
  font-weight: 550;
  text-align: left;
}
.block-17 form {
  height: fit-content;
}

.fields .check-in input::placeholder,
.fields .check-out input::placeholder {
  font-size: 14px;
  color: var(--font-color);
}
.fields select {
  width: 100%;
}

/* Car rental  */
.fields .car-search {
  width: 100%;
}
.fields .pick-up-time,
.fields .drop-off-time {
  width: 17%;
}
/* end search section */
/* start trending-destination */
.trending-destination {
  height: 500px;
}
.trending-destination .container {
  margin-top: var(--container-margin);
  margin-bottom: var(--container-margin);
}
.trending-destination h3 {
  margin-bottom: 30px;
  font-size: larger;
  font-weight: 600;
}
.trending-destination .row {
  height: 100%;
}
.trending-destination .row .col-3,
.trending-destination .row .col-4,
.trending-destination .row .col-5 {
  padding: 1%;
}
@media (max-width: 768px) {
  .trending-destination .container {
    height: 100%;
  }
}
@media (min-width: 768px) {
  .trending-destination .container {
    height: 500px;
  }
}
.cruise-pic {
  background-image: url(../imgs/cruises.jpg);
}
.museum-pic {
  background-image: url(../imgs/museum\ tour.png);
}
.beach-tours-pic {
  background-image: url(../imgs/beach\ tours.jpg);
}
.city-tours-pic {
  background-image: url(../imgs/city\ tours.jpg);
  width: 100%;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin-bottom: 24px;
  height: 94%;
}
.food-pic {
  background-image: url(../imgs/food.jpg);
  width: 35%;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin-bottom: 25px;
  height: 44%;
  display: inline-block;
  margin-right: 2%;
}
.hiking-pic {
  background-image: url(../imgs/hiking.jpg);
  width: 56%;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin-bottom: 25px;
  height: 44%;
  display: inline-block;
  margin-left: 2%;
}

.museum-pic,
.cruise-pic,
.beach-tours-pic {
  width: 100%;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  margin-bottom: 24px;
  height: 44%;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  border-radius: 15px;
}

.cruise-pic,
.museum-pic,
.beach-tours-pic,
.food-pic,
.hiking-pic,
.city-tours-pic {
  cursor: pointer;
}
.overlay:hover {
  box-shadow: var(--main-color) 0px 5px 15px 0px;
  background-color: rgb(0 0 0 / 20%);
}
.cruise-pic span,
.museum-pic span,
.beach-tours-pic span,
.food-pic span,
.hiking-pic span,
.city-tours-pic span {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
  font-weight: 600;
}
/* end trending-destination */
/* start featured trips */
.featured-trips {
  padding-top: var(--container-margin);
  padding-bottom: var(--container-margin);
}
.section-header {
  display: flex;
  justify-content: space-between;
}
.container .section-header h3 {
  font-size: 27px;
}
.container .section-header .see-all-featured {
  font-size: 15px;
  color: var(--font-color);
  cursor: pointer;
}
.featured-trips .featured-trips-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 35px;
}
.featured-trips .featured-trips-content .card img {
  max-width: 100%;
}

.featured-trips .featured-trips-content .card .info {
  padding: 10px 12px 4px 12px;
}
.featured-trips .featured-trips-content .card p {
  letter-spacing: -1px;
  font-size: small;
  margin-bottom: 4px;
}

.card h6 {
  font-size: x-small;
  color: var(--font-color);
}
.card {
  position: relative;
  border-radius: 15px;
}
.card img {
  border-radius: 15px 15px 0 0;
}
.card .heart {
  position: absolute;
  top: 49%;
  right: 6%;
  width: 35px;
  height: 35px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* heart */
.card span i {
  font-size: x-small;
}
/* stars */

.stars i {
  font-size: xx-small;
  color: #e2ac63;
}
.card .stars span {
  font-size: 18px;
  color: var(--font-color);
}
.card .info hr {
  width: 100%;
  display: inline-block;
  border-color: var(--font-color);
  margin: 0;
}
.time-price {
  display: flex;
  justify-content: space-between;
}
.time-price span,
.time-price #price {
  font-size: 15px;
  color: var(--font-color);
}
/* end featured trips */
/* start comp logos */
.links-section .container .comp-logos {
  display: flex;
  justify-content: space-around;
}
.links-section .container .comp-logos img {
  width: 120px;
  height: 59px;
}
/* end comp logos */
/* start opinion section */
.users-opinion {
  padding-top: 70px;
}
.opinion-boxs {
  position: relative;
  padding-top: 31px;
}
.opinion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.opinion-header p {
  width: 56%;
  padding-top: 25px;
  text-align: center;
}

@media (min-width: 768px) {
  .users-opinion .container {
    padding: 10px 125px;
  }
  .users-opinion .container .stars i {
    font-size: xx-small;
    color: #e2ac63;
  }
}

@media (max-width: 768px) {
  .users-opinion .container {
    padding: 0;
  }
  .users-opinion .container .stars i {
    font-size: 9px;
    color: #e2ac63;
  }
}
.opinion-box .opinion-text {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 8px;
  width: 100%;
  height: 40%;
  font-size: 14px;
  text-align: center;
  z-index: 20;
  background-color: white;
}
.opinion-box {
  position: relative;
}
.opinion-box .opinion-text img {
  width: 50px;
  margin: 15px;
}
.opinion-box .opinion-text p {
  margin-bottom: 0;
  color: var(--font-color);
}

.opinion-box .opinion-text .stars {
  margin: 15px;
}

.opinion-box .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  right: 47%;
  transform: rotate(45deg);
  z-index: 1;
  top: 38%;
  background-color: white;
}
.opinion-box .user-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.opinion-box .user-pic img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.opinion-box .user-pic .user-info {
  padding: 20px;
  text-align: center;
}
.opinion-box .user-pic .user-info h5 {
  font-size: 20px;
}
.opinion-box .user-pic .user-info p {
  font-size: 15px;
  color: var(--font-color);
}
.users-opinion .balls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
}
.users-opinion .balls span:first-child {
  width: 9px;
  height: 9px;
  background-color: var(--main-color);
  margin: 6px;
  border-radius: 50%;
}

.users-opinion .balls span:last-child {
  width: 4px;
  height: 4px;
  background-color: gray;
  margin: 6px;
  border-radius: 50%;
}
/* end opinion section */
/* start footer */
.main-footer {
  background-color: var(--bg-color);
  padding: 55px 122px;
}
.main-footer h4 {
  font-size: larger;
  padding-bottom: 20px;
}

.main-footer li {
  padding: 10px 0;
}

.follow-us a {
  margin-bottom: 17px;
}
footer .container {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px), (min-width: 576px) and (hover: none) {
  .tab-search {
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
  }
}
/* end footer */
